div class="row">
	<div class="col-sm-4">
		{{#each content}}
			<div class="bootcard-cards">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="panel-title">
							<span class="glyphicon glyphicon-user"></span>
							{{name}}
						</div>
					</div>
					<div class="list-group">
						<div class="list-group-item">
							<p class="list-group-item-text">Phone </p>
							<h4 class="list-group-item-heading">{{phone}}</h4>
						</div>
						<div class="list-group-item">
							<p class="list-group-item-text">Email</p>
							<h4 class="list-group-item-heading">{{email}}</h4>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
