<div class="bootcard-cards">
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">
				<span class="glyphicon glyphicon-user"></span>
				{{name}}
			</div>
			<div class="pull-right contact-actions">
				<div class="btn-group-sm" role="group">
					<button type="button" class="btn btn-default btn-edit" data-toggle="modal" data-target="#contact-update-view">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button type="button" class="btn btn-default btn-remove">
						<span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Remove the contact"></span>
					</button> 
				</div>
			</div>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<p class="list-group-item-text">Phone </p>
				<h4 class="list-group-item-heading">{{phone}}</h4>
			</div>
			<div class="list-group-item">
				<p class="list-group-item-text">Email</p>
				<h4 class="list-group-item-heading">{{email}}</h4>
			</div>
		</div>
	</div>
</div>		